body {
	padding-top: 60px;
}

table {
	cursor: default;
}

.login-register {
	padding-left: 6px;
	padding-right: 6px;
}

.login-register input, .login-register button {
	margin-top: 4px;
	margin-bottom: 4px;
}

.selected {
	background-color: lightblue;
}

.socket {
	display: inline-block;
	margin: 0 2px;
}

.socket img {
	height: 100%;
	width: 100%;
}

.socket-background {
	height: 20px;
	width: 20px;
}

.socket-foreground {
	position: absolute;
	height: 20px;
	width: 20px;
}