<div ui-view="auctionDetailsModal" autoscroll="false"></div>

<form class="form form-horizontal outerTable">
	<div class="form-group outerRow" style="vertical-align: top">
		<div class="outerCell">
			<div class="col-xs-12">
				<h3>Auction Search</h3>
			</div>
			<div class="col-xs-12 col-sm-8" role="group" style="z-index: 3">
				<div class="input-group">
					<span class="input-group-btn">
		        <button class="btn btn-default" type="button"
		        	ng-click="browseAuctions(auctionSort)">
		        	<span class="glyphicon glyphicon-search"></span>
		        </button>
		      </span>
					
					<input class="form-control" type="text" placeholder="[Item Name]"
						ng-model="auctionSort.item.name">
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-4">
				<div class="btn-group" role="group" style="width: 100%; z-index: 3">
				  <button class="btn btn-default dropdown-toggle form-control"
				  	type="button" data-toggle="dropdown"
				  	aria-haspopup="true" aria-expanded="false">
				    {{auctionSort.item.keywords.slot || '(slot)'}} / {{auctionSort.item.keywords.class || '(class)'}} / {{auctionSort.item.keywords.rarity || '(rarity)'}}
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" style="width: 100%; max-height: 1000%; overflow: auto">
			  		
			  		<li>
				    	<a href="" stop-click ng-click="auctionSort.item.keywords.slot = ''">
				    		<b>Slot: </b>{{auctionSort.item.keywords.slot}}
				    	</a>
				    </li>
				    <li ng-if="!auctionSort.item.keywords.slot" ng-repeat="slot in itemData.slotList">
				    	<a href="" stop-click ng-click="auctionSort.item.keywords.slot = slot.text">
				    		&nbsp; &nbsp;{{slot.text}}
				    	</a>
				    </li>
				    
				    <li ng-class="{disabled: classSlots.indexOf(auctionSort.item.keywords.slot) === -1}">
				    	<a href="" stop-click ng-click="auctionSort.item.keywords.class = ''">
				    		<b>Class: </b>{{auctionSort.item.keywords.class}}
				    	</a>
				    </li>
				  	<li ng-hide="auctionSort.item.keywords.class
				  		|| classSlots.indexOf(auctionSort.item.keywords.slot) === -1"
				  		ng-repeat="class in itemData.classList">
				    	<a href="" stop-click ng-click="auctionSort.item.keywords.class = class.text">
				    		&nbsp; &nbsp;{{class.text}}
				    	</a>
				    </li>
				    
				    <li>
				    	<a href="" stop-click ng-click="auctionSort.item.keywords.rarity = ''">
				    		<b>Rarity: </b>{{auctionSort.item.keywords.rarity}}
				    	</a>
				    </li>
				  	<li ng-if="!auctionSort.item.keywords.rarity" ng-repeat="rarity in itemData.rarityList">
				    	<a href="" stop-click ng-click="auctionSort.item.keywords.rarity = rarity.text">
				    		&nbsp; &nbsp;{{rarity.text}}
				    	</a>
				    </li>
				    
				    <li>
				    	<a href="">
				    		<b class="pull-right">Done</b>
				    	</a>
				    </li>
				    
				  </ul>
				</div>
			</div>
			
			<div class="col-xs-3" style="z-index: 2">
				<h4>Min Price</h4>
				<div numpicker
					numvalue="auctionSort.price.min"
					numvaluemin="105"
					numvaluemax="auctionSort.price.max"
					numdelay="200"></div>
			</div>
			
			<div class="col-xs-3" style="z-index: 2">
				<h4>Max Price</h4>
				<div numpicker
					numvalue="auctionSort.price.max"
					numvaluemin="auctionSort.price.min"
					numvaluemax=""
					numdelay="200"></div>
			</div>
			
			<div class="col-xs-3" style="z-index: 2">
				<h4>Min Level</h4>
				<div numpicker
					numvalue="auctionSort.level.min"
					numvaluemin="1"
					numvaluemax="auctionSort.level.max"
					numdelay="200"></div>
			</div>
			
			<div class="col-xs-3" style="z-index: 2">
				<h4>Max Level</h4>
				<div numpicker
					numvalue="auctionSort.level.max"
					numvaluemin="auctionSort.level.min"
					numvaluemax="46"
					numdelay="200"></div>
			</div>
		</div>
	</div>
	
	<div class="form-group outerRow">
		<div class="outerCell" style="padding: 0 1em">
			<div class="col-xs-4 defaultCursor">
				<h4 class="text-center">
					<span class="pull-left" ng-click="sortType = 'level'; sortReverse = !sortReverse">
						Level
						<sub ng-show="sortType === 'level' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></sub>
						<sub ng-show="sortType === 'level' && sortReverse" class="glyphicon glyphicon-triangle-top"></sub>
					</span>
					<span ng-click="sortType = 'item.name'; sortReverse = !sortReverse">
						<span>Item
							<sub ng-show="sortType === 'item.name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></sub>
							<sub ng-show="sortType === 'item.name' && sortReverse" class="glyphicon glyphicon-triangle-top"></sub>
						</span>
					</span>
					<span class="pull-right" ng-click="sortType = 'price'; sortReverse = !sortReverse">
						Price
						<sub ng-show="sortType === 'price' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></sub>
						<sub ng-show="sortType === 'price' && sortReverse" class="glyphicon glyphicon-triangle-top"></sub>
					</span>
				</h4>
			</div>
			
			<div class="col-xs-2 defaultCursor" ng-click="sortType = 'item.keywords.slot'; sortReverse = !sortReverse">
				<h4>
					Slot
					<sub ng-show="sortType === 'item.keywords.slot' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></sub>
					<sub ng-show="sortType === 'item.keywords.slot' && sortReverse" class="glyphicon glyphicon-triangle-top"></sub>
				</h4>
			</div>
			
			<div class="col-xs-2 defaultCursor" ng-click="sortType = 'item.keywords.class'; sortReverse = !sortReverse">
				<h4>
					Class
					<sub ng-show="sortType === 'item.keywords.class' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></sub>
					<sub ng-show="sortType === 'item.keywords.class' && sortReverse" class="glyphicon glyphicon-triangle-top"></sub>
				</h4>
			</div>
			
			
			<div class="col-xs-2 defaultCursor" ng-click="sortType = 'item.keywords.rarity'; sortReverse = !sortReverse">
				<h4>
					Rarity
					<sub ng-show="sortType === 'item.keywords.rarity' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></sub>
					<sub ng-show="sortType === 'item.keywords.rarity' && sortReverse" class="glyphicon glyphicon-triangle-top"></sub>
				</h4>
			</div>
			
			<div class="col-xs-2 defaultCursor" ng-click="sortType = 'date'; sortReverse = !sortReverse">
				<h4>
					Time Lapsed
					<sub ng-show="sortType === 'date' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></sub>
					<sub ng-show="sortType === 'date' && sortReverse" class="glyphicon glyphicon-triangle-top"></sub>
				</h4>
			</div>
		</div>
	</div>
	
	<div class="form-group outerRow">
		<div class="outerCell" style="height: 100%; padding: 0 1em">
			<div style="height: 100%; width: 100%; border: 2px solid black">
				<div class="scrollDiv">
					<div class="innerTable">
						<div class="innerRow row" ng-click="selectRow(auction)"
							ng-class="{selected: (auction === currentRow)}"
							ng-repeat="auction in auctionList
								| orderBy:sortType:sortReverse
								| startFrom:listStart
								| limitTo:listShown">
								
							<div class="col-xs-4 innerCell">
								<div class="text-center">
									<span class="pull-left">
										{{auction.level}}
									</span>
									
									<span>
										{{auction.item.name}}
				        	</span>
				        	
				        	<span class="pull-right">
										{{auction.price}} &nbsp;
									</span>
								</div>
							</div>
							
							<div class="col-xs-2 innerCell">
								{{auction.item.keywords.slot}} &nbsp;
							</div>
							
							<div class="col-xs-2 innerCell">
								{{auction.item.keywords.class}} &nbsp;
							</div>
							
							<div class="col-xs-2 innerCell">
								<span class="pull-left">
									{{auction.item.keywords.rarity}}
								</span>
								<span class="pull-right">
									<div class="socket" title="{{socket.quality}} {{socket.type}} {{socket.category}}"
										ng-repeat="socket in auction.sockets track by $index">
										<div style="position: relative">
				        			<div class="socket-foreground">
											  <img ng-src="img/sockets/{{socket.quality + socket.type + socket.category | socketName}}.png">
										  </div>
				        			
				        			<div class="socket-background">
			        					<img ng-src="img/sockets/EmptySocket.png">
										  </div>
								  	</div>
								  </div>
		        		</span>
							</div>
							
							<div class="col-xs-2 innerCell">
								{{currentTime - auction.date | timeFilter}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="form-group outerRow" style="vertical-align: bottom">
		<div class="outerCell" style="z-index: 2; padding: .5em .5em">
			<div class="col-xs-3" style="padding: .5em .5em;">
				<div class="row">
					<div class="col-xs-3">
						<button class="btn btn-default form-control"
							ng-click="traverseList(false, false)">
								<span class="glyphicon glyphicon-triangle-left"></span>
						</button>
					</div>
					
					<div class="col-xs-6" style="text-align:center">
						{{listStart+1}}-{{listStart+listShown}} of {{auctionList.length}}
					</div>
					
					<div class="col-xs-3">
						<button class="btn btn-default form-control"
							ng-click="traverseList(true, false)">
								<span class="glyphicon glyphicon-triangle-right"></span>
						</button>
					</div>
				</div>
			</div>
				
			<div class="col-xs-2 col-sm-2 col-md-3" style="padding: .5em .5em">
				<a class="btn btn-default form-control"
					role="button" href="/auctions/new">
						Add
				</a>
			</div>
			
			<div class="col-xs-2 col-sm-2 col-md-3" style="padding: .5em .5em">
				<a class="btn btn-default form-control"
					role="button" href="/auctions/{{currentRow._id}}"
					ng-show="$root.currentUser._id === currentRow.owner">
						Edit
				</a>
			</div>
			
			<div class="col-xs-2 col-sm-2 col-md-3" style="padding: .5em .5em">
				<button class="btn btn-default form-control"
					ng-click="deleteAuction(currentRow)"
					ng-show="$root.currentUser._id === currentRow.owner">
						Delete
				</button>
			</div>
			
			<div class="col-xs-12">
				<span class="pull-right">Some Copyright Stuff...</span>
			</div>
			
		</div>
	</div>
	
</form>