<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Home</h2>
			<h3>What is this?</h3>
			<p>If you happen to have found this site, there's a reasonably good chance that you're familiar with a mobile game called Arcane Legends. If so, then you'll know that one of the key feature of the game is it's constantly changing economy.</p>
			<h4>The Problem</h4>
			<p>Arcane Legends is an incredibly fun and addictive mmo experience, and trying to understanding the economy can provide a challenge above and beyond that of simple hack-and-slash gameplay. But for those of us without a photographic memory, trying to memorize all the numbers and figures can be a bit overwhelming, and not to mention more than a little dull. Yeah, it's not hard to keep track of a few well-known prices, but what about the obscure ones? And what about tracking trends and long-term market behavior?</p>
			<h4>The Solution</h4>
			<p>What this site aims to do is help take some of confusion out of that process. Think of ArcaneLedger as kind of like a piece of scratch-paper sitting next to you (IRL) as you peruse the consignment shop. Each time you find an item of interest, you quickly jot it down. You do this to give yourself a point of reference for what that item should be worth in the future. Sounds simple and easy, right?</p>
			<p>Except that it's not. Pretty soon your little paper will be covered with disorganized notes and still might not be of too much use. There will probably be a lot of items that you haven't bothered to track, and the more items that you keep notes on, the more disorganized your paper (or stack of papers) will be.</p>
			<p>But what if you could enter all of that data into a database, so that it could be searched and sorted? Ok, now we're getting somewhere. But what databasing program should you use, and won't you still spend way too much time trying to take accurate notes, when what you'd really like to do is actually *play* the game?</p>
			<p>As a web-app, ArcaneLedger can easily address this need, but it can also take it a step further. Much, much, much further. Imagine that your piece of paper was not only searchable, sortable, and available from any web-browser, but what if you could collaborate your notes with others? Then you wouldn't have to keep records of everything, but would have access to large collective knowledge base.</p>
			<h4>Features</h4>
			<h5>Auctions</h5>
			<p>The main purpose of ArcaneLedger is to help track auctions. This must be done manually, aka there is no magic button to record the details of each and every transaction. Or if there was, it would be called hacking, and that's not my idea of playing fair. No, each auction must be entered manually, but once entered it becomes a part of the collective database accessible by everyone.</p>
			<h5>Items</h5>
			<p>In order to post an auction, you first have to enter the item in question. This requires a separate collection specifically for items. The good news is that each item need only be entered once, after which it becomes accessible by all.</p>
			<h5>Jewels</h5>
			<p>This is sort of an afterthought, but a useful utility nevertheless. Basically the jewel system in Arcane Legends makes use of some fairly basic (but rather tedious) number-crunching. Trying to calculate the value of one quality of jewel based upon the value of the jewels beneath it can be done, but this just makes it a lot easier.</p>
			<br>
			<p>Anyway, legal mumbo-jumbo: I don't claim rights to any of the images or game content listed on this site and blah blah blah, to be expounded upon later in the event that this actually starts going somewhere...</p>
		</div>
	</div>
</div>