<form>
	<h4>Add Item</h4>
	<label>Name:</label>
	<input ng-model="newItem.name" style="width: 25em">
	<br>
	<label>Slot</label>
	<select ng-model="newItem.keywords.slot"
		ng-options="slot for slot in slotList">
	</select>
	
	<label>Class</label>
	<select ng-model="newItem.keywords.class"
		ng-options="class for class in classList">
	</select>
	
	<label>Rarity</label>
	<select ng-model="newItem.keywords.rarity"
		ng-options="rarity for rarity in rarityList">
	</select>
	<br>
	<button ng-click="addItem(newItem)">Add</button>
</form>

<form>
	<h4>Add Auction</h4>
	<label>Item:</label>
	<select ng-model="newAuction.item"
		ng-options="item.name for item in itemList
			| itemFilter:itemSort">
		<option value=""></option>
	</select>
	<br>
	
	<label>Listed Price:</label>
	<input ng-model="newAuction.price"
		type="number" min="105" style="width: 10em">
	<label>Level:</label>
	<input ng-model="newAuction.level" type="number"
		min="1" max="46" style="width: 5em">
	<br>
	
	<label>Slot</label>
	<select ng-model="itemSort.keywords.slot" 
		ng-options="slot for slot in slotList">
		<option value=""></option>
	</select>
	
	<label>Class</label>
	<select ng-model="itemSort.keywords.class"
		ng-options="class for class in classList">
		<option value=""></option>
	</select>
	
	<label>Rarity</label>
	<select ng-model="itemSort.keywords.rarity"
		ng-options="rarity for rarity in rarityList">
		<option value=""></option>
	</select>
	<br>
	<button ng-click="addAuction(newAuction)">Add</button>
	<button ng-click="resetAuction()">Reset</button>
</form>

<h4>Item Search</h4>
<table style="width:100%">
<thead></thead>
<tbody>
	<tr>
		<td>
			<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
				Item
				<span ng-show="sortType === 'name' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType === 'name' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
		<td>
			<a href="" ng-click="sortType = 'keywords.slot'; sortReverse = !sortReverse">
				Slot
				<span ng-show="sortType === 'keywords.slot' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType === 'keywords.slot' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
		<td>
			<a href="" ng-click="sortType = 'keywords.class'; sortReverse = !sortReverse">
				Class
				<span ng-show="sortType === 'keywords.class' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType === 'keywords.class' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
		<td>
			<a href="" ng-click="sortType = 'keywords.rarity'; sortReverse = !sortReverse">
				Rarity
				<span ng-show="sortType === 'keywords.rarity' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType === 'keywords.rarity' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
	</tr>
	<tr ng-repeat="item in itemList
		| orderBy:sortType:sortReverse
		| itemFilter:itemSort">
		<td>{{item.name}}</td>
		<td>{{item.keywords.slot}}</td>
		<td>{{item.keywords.class}}</td>
		<td>{{item.keywords.rarity}}</td>
		<td><button ng-click="deleteItem(item)">X</button></td>
	</tr>
</tbody>
</table>

<form>
	<h4>Search</h4>
	<label>Item:</label>
	<input ng-model="auctionSort.item.name">
	<br>
	<label>Min Price:</label>
	<input ng-model="auctionSort.price.min"
		type="number" min="105" style="width: 5em">
	<label>Max Price:</label>
	<input ng-model="auctionSort.price.max"
		type="number" min="105" style="width: 5em">
	<label>Min Level:</label>
	<input ng-model="auctionSort.level.min"
		type="number" min="1" max="46" style="width: 5em">
	<label>Max Level:</label>
	<input ng-model="auctionSort.level.max"
		type="number" min="1" max="46" style="width: 5em">
	<br>
	
	<label>Slot</label>
	<select ng-model="auctionSort.item.keywords.slot" 
		ng-options="slot for slot in slotList">
		<option value=""></option>
	</select>
	
	<label>Class</label>
	<select ng-model="auctionSort.item.keywords.class"
		ng-options="class for class in classList">
		<option value=""></option>
	</select>
	
	<label>Rarity</label>
	<select ng-model="auctionSort.item.keywords.rarity"
		ng-options="rarity for rarity in rarityList">
		<option value=""></option>
	</select>
	<br>
	
</form>
<h4>Search Results</h4>
<table style="width:100%">
<thead></thead>
<tbody>
	<tr>
		<td>
			<a href="" ng-click="sortType = 'item.name'; sortReverse = !sortReverse">
				Item
				<span ng-show="sortType === 'item.name' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType === 'item.name' && sortReverse" class="fa fa-caret-up"></span>
      </a>
		</td>
		<td>
			<a href="" ng-click="sortType = 'level'; sortReverse = !sortReverse">
				Level
				<span ng-show="sortType === 'level' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType === 'level' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
		<td>
			<a href="" ng-click="sortType = 'price'; sortReverse = !sortReverse">
				Price
				<span ng-show="sortType === 'price' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType === 'price' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
		<td>
			<a href="" ng-click="sortType = 'item.keywords.slot'; sortReverse = !sortReverse">
				Slot
				<span ng-show="sortType === 'item.keywords.slot' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType === 'item.keywords.slot' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
		<td>
			<a href="" ng-click="sortType = 'item.keywords.class'; sortReverse = !sortReverse">
				Class
				<span ng-show="sortType === 'item.keywords.class' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType === 'item.keywords.class' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
		<td>
			<a href="" ng-click="sortType = 'item.keywords.rarity'; sortReverse = !sortReverse">
				Rarity
				<span ng-show="sortType === 'item.keywords.rarity' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType === 'item.keywords.rarity' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
		<td>
			<a href="" ng-click="sortType = 'date'; sortReverse = !sortReverse">
				Date
				<span ng-show="sortType === 'date' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType === 'date' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
	</tr>
	<tr ng-repeat="auction in auctionList
		| orderBy:sortType:sortReverse
		| auctionFilter:auctionSort">
		<td>{{auction.item.name}}</td>
		<td>{{auction.level}}</td>
		<td>{{auction.price}}</td>
		<td>{{auction.item.keywords.slot}}</td>
		<td>{{auction.item.keywords.class}}</td>
		<td>{{auction.item.keywords.rarity}}</td>
		<td>{{auction.date | date:'short'}}</td>
		<td><button ng-click="deleteAuction(auction)">X</button></td>
	</tr>
</tbody>
</table>