<div ui-view="itemDetailsModal" autoscroll="false"></div>

<form class="form-horizontal outerTable">
	<div class="form-group outerRow" style="vertical-align: top">
		<div class="outerCell">
			<div class="col-xs-12">
				<h3>Item Search</h3>
			</div>
			<div class="col-xs-12 col-sm-8" role="group" style="z-index: 3">
				<div class="input-group">
					<span class="input-group-btn">
		        <button class="btn btn-default" type="button"
		        	ng-click="browseItems(itemSort)">
		        	<span class="glyphicon glyphicon-search"></span>
		        </button>
		      </span>
					
					<input class="form-control" type="text" placeholder="[Item Name]"
						ng-model="itemSort.name">
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-4">
				<div class="btn-group" role="group" style="width: 100%; z-index: 3">
				  <button class="btn btn-default dropdown-toggle form-control"
				  	type="button" data-toggle="dropdown"
				  	aria-haspopup="true" aria-expanded="false">
				    {{itemSort.keywords.slot || '(slot)'}} / {{itemSort.keywords.class || '(class)'}} / {{itemSort.keywords.rarity || '(rarity)'}}
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" style="width: 100%; max-height: 1000%; overflow: auto">
			  		<li>
				    	<a href="" stop-click ng-click="itemSort.keywords.slot = ''">
				    		<b>Slot: </b>{{itemSort.keywords.slot}}
				    	</a>
				    </li>
				    <li ng-if="!itemSort.keywords.slot" ng-repeat="slot in itemData.slotList">
				    	<a href="" stop-click ng-click="itemSort.keywords.slot = slot.text">
				    		&nbsp; &nbsp;{{slot.text}}
				    	</a>
				    </li>
				    <li ng-class="{disabled: classSlots.indexOf(itemSort.keywords.slot) === -1}">
				    	<a href="" stop-click ng-click="itemSort.keywords.class = ''">
				    		<b>Class: </b>{{itemSort.keywords.class}}
				    	</a>
				    </li>
				  	<li ng-hide="itemSort.keywords.class
				  		|| classSlots.indexOf(itemSort.keywords.slot) === -1"
				  		ng-repeat="class in itemData.classList">
				    	<a href="" stop-click ng-click="itemSort.keywords.class = class.text">
				    		&nbsp; &nbsp;{{class.text}}
				    	</a>
				    </li>
				    <li>
				    	<a href="" stop-click ng-click="itemSort.keywords.rarity = ''">
				    		<b>Rarity: </b>{{itemSort.keywords.rarity}}
				    	</a>
				    </li>
				  	<li ng-if="!itemSort.keywords.rarity" ng-repeat="rarity in itemData.rarityList">
				    	<a href="" stop-click ng-click="itemSort.keywords.rarity = rarity.text">
				    		&nbsp; &nbsp;{{rarity.text}}
				    	</a>
				    </li>
				    <li>
				    	<a href="">
				    		<b class="pull-right">Done</b>
				    	</a>
				    </li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group outerRow">
		<div class="outerCell" style="padding: 0 1em">
			<div class="col-xs-3 defaultCursor" ng-click="sortType = 'name'; sortReverse = !sortReverse">
				<h4>
					Item
					<span ng-show="sortType === 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					<span ng-show="sortType === 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
				</h4>
			</div>
			<div class="col-xs-2 defaultCursor" ng-click="sortType = 'class'; sortReverse = !sortReverse">
				<h4>
					Class
					<span ng-show="sortType === 'class' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					<span ng-show="sortType === 'class' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
				</h4>
			</div>
			<div class="col-xs-2 defaultCursor" ng-click="sortType = 'slot'; sortReverse = !sortReverse">
				<h4>
					Slot
					<span ng-show="sortType === 'slot' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					<span ng-show="sortType === 'slot' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
				</h4>
			</div>
			<div class="col-xs-2 defaultCursor" ng-click="sortType = 'rarity'; sortReverse = !sortReverse">
				<h4>
					Rarity
					<span ng-show="sortType === 'rarity' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					<span ng-show="sortType === 'rarity' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
				</h4>
			</div>
		</div>
	</div>
	
	<div class="form-group outerRow">
		<div class="outerCell" style="height: 100%; padding: 0 1em">
			<div style="height: 100%; width: 100%; border: 2px solid black">
				<div class="scrollDiv">
					<div class="innerTable">
						<div class="innerRow row" ng-click="selectRow(item)"
							ng-class="{selected: (item === currentRow)}"
							ng-repeat="item in itemList
								| orderBy:sortType:sortReverse
								| startFrom:listStart
								| limitTo:listShown">
							<div class="col-xs-3 innerCell">{{item.name}} &nbsp;</div>
							<div class="col-xs-2 innerCell">{{item.keywords.class}} &nbsp;</div>
							<div class="col-xs-2 innerCell">{{item.keywords.slot}} &nbsp;</div>
							<div class="col-xs-2 innerCell">{{item.keywords.rarity}} &nbsp;</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group outerRow" style="vertical-align: bottom">
		<div class="outerCell" style="z-index: 2; padding: .5em .5em">
			
			<div class="col-xs-3" style="padding: .5em .5em;">
				<div class="row">
					<div class="col-xs-3">
						<button class="btn btn-default form-control"
							ng-click="traverseList(false, false)">
								<span class="glyphicon glyphicon-triangle-left"></span>
						</button>
					</div>
					
					<div class="col-xs-6" style="text-align:center">
						{{listStart+1}}-{{listStart+listShown}} of {{itemList.length}}
					</div>
					
					<div class="col-xs-3">
						<button class="btn btn-default form-control"
							ng-click="traverseList(true, false)">
								<span class="glyphicon glyphicon-triangle-right"></span>
						</button>
					</div>
				</div>
			</div>
			
			<div class="col-xs-2 col-sm-2 col-md-3" style="padding: .5em .5em">
				<a class="btn btn-default form-control"
					role="button" href="/items/new">
						Add
				</a>
			</div>
			
			<div class="col-xs-2 col-sm-2 col-md-3" style="padding: .5em .5em">
				<a class="btn btn-default form-control"
					role="button" href="/items/{{currentRow._id}}"
					ng-show="$root.currentUser._id === currentRow.owner">
						Edit
				</a>
			</div>
			
			<div class="col-xs-2 col-sm-2 col-md-3" style="padding: .5em .5em">
				<button class="btn btn-default form-control"
					ng-click="deleteItem(currentRow)"
					ng-show="$root.currentUser._id === currentRow.owner">
						Delete
				</button>
			</div>
			<div class="col-xs-12">
				<span class="pull-right">Some Copyright Stuff...</span>
			</div>
		</div>
	</div>
	
</form>